mixin controller-color({ title, name, type, character, defaultColor, itemArr })
  .controller-color(data-type=type, data-character=character, data-color=defaultColor)
    | #{title}:
    for item in itemArr
      -
        const { label, value, checked } = item;
        const id = `controller-${name}--${type}--${item.value}`;
      label.controller-compare.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for=id)
        input.mdl-radio__button(id=id, type='radio', name=`${name}-${type}`, value=value, checked=checked)
        span.mdl-radio__label
          = label
    label
      input(type='color')
      | カスタム

- ;

mixin controller-thickness({ character })
  .controller-thickness(data-character=character)
    span(data-slidebar)
      label
        span 太さ: 
        input(type='range', max='100', min='0.1', step='0.1', value='1')
    span(data-number)
      input(type='number', max='100', min='0.1', step='0.1', value='1')

mixin controller-panel({ title, character, color })
  .controller-panel(data-character=character)
    +controller-color({
      title: '塗り',
      name: `color-${character}`,
      type: 'fill',
      character,
      defaultColor: 'transparent',
      itemArr: [{
        label: '透過',
        value: 'transparent',
      }, {
        label: '黒',
        value: 'black',
      }, {
        label: '白',
        value: 'white',
        checked: character === 'white'
      }, {
        label: '赤',
        value: 'red',
        checked: character === 'aira'
      }, {
        label: '青',
        value: 'blue',
        checked: character === 'shima'
      }, {
        label: '黄',
        value: 'yellow',
        checked: character === 'hana'
      }, {
        label: '緑',
        value: 'green',
      }]
    })

    +controller-color({
      title: '輪郭',
      name: `color-${character}`,
      type: 'line',
      character,
      defaultColor: 'transparent',
      itemArr: [{
        label: '透過',
        value: 'transparent',
        checked: true,
      }, {
        label: '黒',
        value: 'black',
      }, {
        label: '白',
        value: 'white',
      }, {
        label: '赤',
        value: 'red',
      }, {
        label: '青',
        value: 'blue',
      }, {
        label: '黄',
        value: 'yellow',
      }, {
        label: '緑',
        value: 'green',
      }]
    })

    +controller-thickness({
      character,
    })

.controller-card.mdl-card.mdl-shadow--2dp
  .mdl-card__actions(data-actions, style="color: white;")
    .tab-character.mdl-tabs.mdl-js-tabs.mdl-js-ripple-effect
      .mdl-tabs__tab-bar(data-tab-bar)
        a.tab-item.mdl-tabs__tab.is-active(href='#panel-common')
          | 共通
        a.tab-item.mdl-tabs__tab(href='#panel-white', style="color: white;")
          | 白
        a.tab-item.mdl-tabs__tab(href='#panel-aira', style="color: red;")
          | アイラ
        a.tab-item.mdl-tabs__tab(href='#panel-shima', style="color: blue;")
          | シマ
        a.tab-item.mdl-tabs__tab(href='#panel-hana', style="color: yellow;")
          | はな

      #panel-common.mdl-tabs__panel.is-active
        .controller-panel(data-character=character)
          +controller-color({
            title: '背景',
            name: 'color',
            type: 'bg',
            defaultColor: 'black',
            itemArr: [{
              label: '黒',
              value: 'black',
              checked: true,
            }, {
              label: '白',
              value: 'white',
            }, {
              label: '赤',
              value: 'red',
            }, {
              label: '青',
              value: 'blue',
            }, {
              label: '黄',
              value: 'yellow',
            }, {
              label: '緑',
              value: 'green',
            }]
          })

          .controller-max-freq
            span(data-slidebar)
              label
                span 次数（周波数上限）: 
                input(type='range', max='100', min='1', step='1', value='15')
            span(data-number)
              input(type='number', max='100', min='1', step='1', value='15')
          div
            mixin controller-compare({ name, itemArr })
              for item in itemArr
                -
                  const { label, value, checked } = item;
                  const id = `controller-${name}--${value}`;
                label.controller-compare.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for=id)
                  input.mdl-radio__button(id=id, type='radio', name=name, value=value, checked=checked)
                  span.mdl-radio__label
                    = label

            +controller-compare({
              name: 'compare',
              itemArr: [{
                label: '数式曲線',
                value: 'normal',
              }, {
                label: 'オリジナルと比較',
                value: 'compare',
                checked: true,
              }, {
                label: 'オーバーレイ',
                value: 'overlay',
              }],
            })

      #panel-white.mdl-tabs__panel
        +controller-panel({
          title: '白',
          character: 'white',
          color: 'white',
        })

      #panel-aira.mdl-tabs__panel
        +controller-panel({
          title: 'アイラ',
          character: 'aira',
          color: 'red',
        })

      #panel-shima.mdl-tabs__panel
        +controller-panel({
          title: 'シマ',
          character: 'shima',
          color: 'blue',
        })

      #panel-hana.mdl-tabs__panel
        +controller-panel({
          title: 'はな',
          character: 'hana',
          color: 'yellow',
        })
